
.p-container{
  padding: 0px 15px 15px;
}

.container {
  width: inherit;
  text-align: center;
  color: #2f2f2f;
}

.container img{
  width: 42px;
  margin: 77px 0px 80px;
}

.container h1{
  font-size: 26px;
  margin-bottom: 58px;
  font-family: Playfair Display;
  font-weight: 600;
}

.container h1 span{
  text-decoration: underline;
}

.container p{
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  width: 50%;
  margin: 0 auto;
}

.first-container h1{
  margin-bottom: 32px;
}

.holder-container{
  width: inherit;
  height: 424px;
}

.holder-container div{
  height: inherit;
  float: left;
  background-repeat: no-repeat;
}

.header{
  width: inherit;
  height: 698px;
  margin-bottom: 96px;
}

.header .nav-bg{
  height: 99px;
  width: 100%;
  background-color: #000;
  opacity: 35%;
  position: absolute;
  z-index: 1;
}

.header .nav{
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.nav ul{
  z-index: 2;
  margin-right: -40px;
}

.nav ul li{
  color: #fff;
  float: left;
  margin: 0px 9px;
  font-size: 16px;
  font-family: Playfair Display;
  font-weight: 600;
  cursor: pointer;
}

.nav ul li.active{
  color: #f5d76e;
}

.header .nav .space{
  width: 200px;
  height: 10px;
}

.header .nav img{
  position: absolute;
  z-index: 2;
  margin-top: 20px;
}

.header .content{
  width: 37%;
  margin: 200px 0px 0px 165px;
  float: left;
}

.header .content h1{
  color: #f5d76e;
  font-family: Playfair Display;
  font-size: 47px;
  font-weight: 600;
  margin-bottom: 30px;
}

.header .content p{
  color: #fff;
  font-family: Lato;
  line-height: 25px;
}

.header .content button{
  width: 185px;
  height: 53px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
}

.header .content button:hover{
  background-color: #fff;
  color: #000;
}

.small-container{
  width: 36%;
}

.large-container{
  width: 64%;
  background-size: 100% auto;
}

.testimonials {
  background-image: url('../pic_reference/comments.png');
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
  padding-top: 95px;
  height: calc(100% - 95px) !important;
}

.testimonials .img{
  width: 83px;
  height: 83px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  background-size: 100% auto;
  background-position: center;
  float: none;
  margin: 0 auto;
}

.testimonials h6, .testimonials p{
  width: 100%;
}

.testimonials h6{
  color: #f5d76e;
  font-family: Playfair Display;
  font-size: 18px;
  margin: 10px 0px;
  font-weight: 600;
}

.testimonials p{
  color: #fff;
  font-size: 16px;
  width: 60%;
}

.testimonials .pagination{
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 0px;
  float: none;
}

.testimonials .pagination div{
  background-color: #fff;
  width: 10px;
  height: inherit;
  float: none;
  border-radius: 50%;
}

.pagination div:nth-child(2){
  margin: 0px 10px;
}

.pagination .active{
  background-color: transparent !important;
  border: 1px solid #fff;
}

.locations{
  width: calc(36% - 100px);
  height: calc(100% - 116px) !important;
  background-color: #f5d76e;
  text-align: left;
  padding: 58px 50px;
}

.locations h6{
  font-family: Playfair Display;
  font-weight: 600;
  margin: 36px 0px 20px;
  font-size: 20px;
}

.locations h6:first-child{
  margin-top: 0px;
}

.locations p{
  width: 100%;
  margin: 0px;
  font-family: Lato;
  font-weight: 500;
}

.locations table{
  width: 100%;
}

.locations table tr td{
  font-family: Lato;
  padding-bottom: 15px;
}

.locations table tr td:first-child{
  font-weight: 500;
  width: 30%;
}

.locations table tr td:last-child{
  font-weight: 300;
  width: 70%;
}

.menu-container{
  width: inherit;
  height: 474px;
}

.menu{
  height: inherit;
  width: 32%;
  float: left;
}

.menu:nth-child(2){
  margin: 0px 2%;
}

.menu .bg-image{
  width: 100% ;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 100% auto;
}

.menu .bg-image h4{
  text-align: center;
  font-family: Playfair Display;
  font-weight: 600;
  font-size: 31px;
  color: #000;
}

.menu table{
  width: 100%;
  margin-top: 40px;
}

.menu table tr td{
  padding-bottom: 12px;
  text-align: left;
  font-size: 16px;
  font-family: Lato;
}

.menu table tr td:first-child{
  width: 60%;
  font-weight: 700;
  padding-left: 15%;
}

.menu table tr td:last-child{
  width: 40%;
}

.footer{
  background-color: #39312f;
  height: 300px;
  width: inherit;
  text-align: center;
}

.footer img{
  width: 26px;
  height: 26px;
  margin: 90px 0px 35px;
}

.footer img:nth-child(2){
  margin-right: 29px;
  margin-left: 29px;
}

.footer p{
  color: #fff;
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
}

.footer p:nth-child(3){
  color: #f5d76e;
  margin-top: 10px;
  font-size: 14px;
}

.footer p:last-child{
  font-weight: 400;
  font-size: 11px;
  margin-top: 30px;
}
